image:
  repository: nginx
  tag: "1.25.3"
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  enabled: true
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: nginx.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

service:
  type: ClusterIP
  port: 80
  targetPort: 80

podAnnotations: {}
podLabels: {}
nodeSelector: {}
tolerations: []
affinity: {}

configMap:
  enabled: false
  nginx.conf: |
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log;
    pid /run/nginx.pid;
    
    events {
      worker_connections 1024;
    }
    
    http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;
      
      sendfile on;
      keepalive_timeout 65;
      
      server {
        listen 80;
        server_name _;
        
        location / {
          root /usr/share/nginx/html;
          index index.html;
        }
      }
    }